<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!-- 使用java配置 -->
  <context-param>
  	<param-name>contextClass</param-name>
  	<param-value>
  		org.springframework.web.context.support.AnnotationConfigWebApplicationContext
  	</param-value>
  </context-param>
  <!-- 指定根配置类 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>spittr.config.RootConfig</param-value>
  </context-param>
  <!-- 过滤编码字符集 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 注册ContextLoaderListener -->
  <listener>
  	<listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  <!-- 注册DispatcherServlet -->
  <servlet>
  	<servlet-name>appServlet</servlet-name>
  	<servlet-class>
  		org.springframework.web.servlet.DispatcherServlet
  	</servlet-class>
  	<init-param>
  		<param-name>contextClass</param-name>
  		<param-value>
  			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
  		</param-value>
  	</init-param>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>spittr.config.WebConfig</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  	<!-- multipart细节配置 -->
  	<multipart-config>
  		<location>/tmp/spittr/uploads</location>
  		<max-file-size>2097152</max-file-size>
  		<max-request-size>4194304</max-request-size>
  	</multipart-config>
  </servlet>
  <!-- 将DispatcherServlet映射到"/" -->
  <servlet-mapping>
  	<servlet-name>appServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>